.item li {
  animation-name: appearing;
  animation-duration: 0.2s;
}

@keyframes appearing {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.item li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.1rem;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.item li {
  border-bottom: 1px solid var(--complement-color);
  min-width: 28rem;
}

.item svg {
  fill: var(--primary-color);
}

.item img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.trash {
  fill: var(--primary-color);
}

.trash:hover {
  cursor: pointer;
  fill: #da461d;
  transform: scale(1.3);
}

.deleteGift {
  position: relative;
}

.deleteGift span {
  position: absolute;
  padding: 0.3rem;
  font-size: 0.7rem;
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  top: -2.5rem;
  width: fit-content !important;
  display: none;
}

.trash:hover ~ .deleteGift span {
  display: block !important;
}

.extraSize {
  font-size: 2rem;
}
